version: 2

aliases:
  - &filter-not-release-or-master
    tags:
      ignore: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
    branches:
      ignore: master
  - &filter-only-master
    branches:
      only: master

defaults: &defaults
  working_directory: ~/grafana-image-renderer
  docker:
    - image: circleci/node:10.15.3-stretch

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Yarn Install
          command: 'yarn install --frozen-lockfile --no-progress'
      - save_cache:
          name: Save Yarn Package Cache
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Build
          command: 'yarn build'
      - persist_to_workspace:
          root: .
          paths:
            - build/*

  package_linux_x64:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: 'yarn install --pure-lockfile --no-progress'
      - run:
          name: Package
          command: './scripts/package_target.sh linux-x64-glibc'
      - run:
          name: Archive
          command: './scripts/archive_target.sh linux-x64-glibc'
      - persist_to_workspace:
          root: .
          paths:
            - artifacts/*
      - store_artifacts:
          path: artifacts

  package_darwin_x64:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: 'yarn install --pure-lockfile --no-progress'
      - run:
          name: Package
          command: './scripts/package_target.sh darwin-x64-unknown'
      - run:
          name: Archive
          command: './scripts/archive_target.sh darwin-x64-unknown'
      - persist_to_workspace:
          root: .
          paths:
            - artifacts/*
      - store_artifacts:
          path: artifacts

  package_windows_x64:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: 'yarn install --pure-lockfile --no-progress'
      - run:
          name: Package
          command: './scripts/package_target.sh win32-x64-unknown'
      - run:
          name: Archive
          command: './scripts/archive_target.sh win32-x64-unknown'
      - persist_to_workspace:
          root: .
          paths:
            - artifacts/*
      - store_artifacts:
          path: artifacts

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters: *filter-only-master
      - package_linux_x64:
          requires:
            - build
          filters: *filter-only-master
      - package_darwin_x64:
          requires:
            - build
          filters: *filter-only-master
      - package_windows_x64:
          requires:
            - build
          filters: *filter-only-master
      - approve-release:
          type: approval
          requires:
            - build
          filters: *filter-only-master
      - publish-github-release:
          requires:
            - approve-release
          filters: *filter-only-master

  build-branches-and-prs:
    jobs:
      - build:
          filters: *filter-not-release-or-master
      - package_linux_x64:
          requires:
            - build
          filters: *filter-not-release-or-master
      - package_darwin_x64:
          requires:
            - build
          filters: *filter-not-release-or-master
      - package_windows_x64:
          requires:
            - build
          filters: *filter-not-release-or-master