services:
  grafana:
    image: grafana/grafana:latest
    ports:
      - 3000:3000
    environment:
      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
      GF_LOG_FILTERS: rendering:debug
  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 8081
    volumes:
      - ./config.json:/usr/src/app/config.json
  redis:
    image: redis:latest
    ports:
      - 6379


